params {
  profile = false
  cache = ''
  outdir = 'results'
  assembly_exts = ['*.fa', '*.fasta', '*.fna']
  assembly_search_path = makeAssemblySearchPath( assembly_exts )
}

def makeAssemblySearchPath ( assembly_exts ) {
    def assembly_search_path = []
    for (ext in assembly_exts) {
        assembly_search_path.add(params.assembly_input.toString() + '/' + ext.toString())
        assembly_search_path.add(params.assembly_input.toString() + '/*/' + ext.toString())
    }
    return assembly_search_path
}


profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}

manifest {
  author = 'Dan Fornika'
  name = 'BCCDC-PHL/mlst-nf'
  version = '0.1.0'
  description = 'BCCDC-PHL MLST'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}
